@import "tailwindcss";

@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
    body:not([data-dashboard]) * {
      cursor: none !important;
    }
    
    body[data-dashboard] * {
      cursor: revert !important;
    }
}

@media (max-width: 767px), (hover: none), (pointer: coarse) {
    * {
      cursor: auto !important;
    }
}

.bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
}

.cursor-hover {
    transition: all 0.2s ease-out;
}

body.loading-active {
  overflow: hidden !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

body.loading-active > div:not(:has(.page-loader)) {
  visibility: hidden !important;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111827;
  transition: opacity 0.5s, visibility 0.5s;
  isolation: isolate;
}

html.dark .page-loader {
  background-color: #111827;
}

.page-loader.loaded {
  opacity: 0;
  visibility: hidden;
}

.loader {
  display: inline-flex;
  gap: 5px;
}

.loader:before,
.loader:after {
  content: "";
  width: 25px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l5 1.5s infinite;
}

html.dark .loader:before,
html.dark .loader:after {
  box-shadow: 0 0 0 3px inset #fff;
}

.loader:after {
  --s: -1;
}

@keyframes l5 {
  0%   {transform: scaleX(var(--s,1)) translate(0) scale(1)}
  33%  {transform: scaleX(var(--s,1)) translate(calc(50% + 2.5px)) scale(1)}
  66%  {transform: scaleX(var(--s,1)) translate(calc(50% + 2.5px)) scale(2)}
  100% {transform: scaleX(var(--s,1)) translate(0) scale(1)}
}