@import "tailwindcss";


@media (min-width: 768px) {
    * {
      cursor: none !important;
    }
    
    @media (hover: none) {
      * {
        cursor: auto !important;
      }
    }
  }
  

  .cursor-hover {
    transition: all 0.2s ease-out;
    border: 2px solid white;
  }
